@* newProduct Template File *@
@(categories: List[Category])
@main("CarWebshop"){

	<p><a href="@routes.ProductController.showAllPro">Show all products</a></p>
	
		<form action="/new-product" method="post" role="form">
  		<div class="form-group">
    	<label for="product-name">Product name</label>
    	<input type="text" class="form-control" id="product-name" name="name" placeholder="Product name">
  		</div>
  		<div class="form-group">
    	<label for="category-name">Category</label>
    
    	<select name="category-id" class="form-control">
    		@for(category <- categories){
    		<option value="@category.getCategoryId()">@category.getCategoryName() @category.products.size products)</option>
   			}
    	</select>
  		</div>
  		<button type="submit" class="btn btn-default">Submit</button>
		</form>
}