
@(products: List[Product], categories: List[Category], users: List[User], shopping: List[ShoppingBasket])


@main("CarWebshop") {

	<h4>Our latest products (@products.size).</h4>

	<ul>
		@for(product <- products){
			<li><a href="/product/@product.getProductId()">@product.getProductName()</a></li>
		}
	</ul>
	
	<h4>Our Categories (@categories.size).</h4>
	
	<ul>
		@for(category <- categories){
			<li><a href="/category/@category.getCategoryId()">@category.getCategoryName()</a></li>
		}
	</ul>
	
	<h4>Our estimated users (@users.size).</h4>
	
	<ul>
		@for(user <- users){
			<li><a href="/user/@user.getUserId()">@user.getFirstName() @user.getLastName()</a></li>
		}
	</ul>
	
	<h4>Shopping Basket (@shopping.size).</h4>
	
	<ul>
		@for(shoppingBasket <- shopping){
			<li><a href="/shoppingbasket/@shoppingBasket.getShoppingBaskedId()">@shoppingBasket.getShoppingBaskedId()</a></li>
		}
	</ul>
	
}