@* showCategory Template File *@
@(category: Category)

@main("Welcome to Play.") {
<h1>Details for category</h1>

<ul>
<li>Name: @category.getCategoryName()<br><li>List: @category.products</li></li>
</ul>
}