@* showProduct Template File *@
@(product: Product)	
@main("Welcome to Play.") {
<h1>Details for product</h1>

<ul>
<li>Name: @product.getProductName() <br><li>Description:  @product.getDescription </li><li>Price: @product.getCost() </li></li>
</ul>
}