@* order Template File *@
@main("Cart"){
	<h3>Thank you for choosing our company!</h3>
	<p>Your car is now being delivered</p>
	<p><img src="@routes.Assets.at("images/happypeople.jpg")" alt="happy"</img></p>
}