@* showProduct Template File *@
@(product: Product)	
@main("Welcome to Play.") {
<h1>Car Details</h1>

<ul>
<li>Name: @product.getProductName() <br><li>Description:  @product.getDescription </li><li>Price: @product.getCost() </li></li>
<img src="@routes.Assets.at("images/LaFerrari.png")" width="350" height="120" alt="product" style="position: absolute; top: 25%; left: 35%;"</img>
</ul>


<form action="@routes.ShoppingBasketController.newShoppingBasket" method="post" role="form">
	<div class="form-group">
    	<label for="quantity">Quantity</label>
    	
    	<select name="quantity" class="form-control" style="width:15%;">
    		<option>1</option>
    		<option>2</option>
			<option>3</option>
    		<option>4</option>
    		<option>5</option>
    		<option>6</option>
    		<option>7</option>
    		<option>8</option>
    		<option>9</option>
    		<option>10</option>
    	</select>
  	</div>
  	
  	<div class="form-group">
    	<label for="product-id"></label>
    	<input type="hidden" class="form-control" value="@product.getProductId" id="product-id" name="product-id"/>
  	</div>

    <button type="submit" class="btn btn-default">Add to Cart</button>
</form>

<p></p>
}